In [1]:
#sources

#https://stackoverflow.com/questions/56031313/connecting-to-sql-server-via-sql-magics-in-jupyter-lab
#https://towardsdatascience.com/jupyter-magics-with-sql-921370099589
#https://holypython.com/python-sqlite-tutorial/python-magic-for-sql/

In [6]:
#requirements

#!pip install pandas
# Data Analytics based on pandas Dataframes
#!pip install sqlalchemy
# ORM for databases
#!pip install pyodbc
# ODBC driver dialect utilized by sqlalchemy
#!pip install ipython-sql
# SQL magic function
#!pip install urllib
# URL used to build-up connection string

!pip install ipython-sql
!which python

Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.4-cp39-cp39-win_amd64.whl (2.0 MB)
Collecting sqlparse
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Collecting prettytable
  Using cached prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.4 sqlparse-0.4.3 typing-extensions-4.5.0

  WARNING: The script sqlformat.exe is installed in 'C:\Users\Gremmt\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

C:\ProgramData\Anaconda3\python.EXE

In [7]:
#source: https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d

#initialize iPython SQL magic
%load_ext sql

#config iPython SQL magic for this session
%config SqlMagic.displaylimit=10
%config SqlMagic.autolimit=10
%config SqlMagic.autopandas=True

In [8]:
#build-up connection string
#demonstration use case: SQL Server on my local machine (DESKTOP-UVMOR2N) 
#with database schema.database table = iris.iris_data ([iris].[dbo].[iris_data])
#and user=testuser and password=password

import urllib

connection_str = "DRIVER={SQL SERVER};SERVER=DESKTOP-UVMOR2N;DATABASE=iris;UID=testuser;PWD=password"
connection_str_quoted = urllib.parse.quote_plus(connection_str)
connection_uri = 'mssql+pyodbc:///?odbc_connect={}'.format(connection_str_quoted)

# this is how you would connect in sqlalchemy
import sqlalchemy
conn = sqlalchemy.create_engine(connection_uri)

%sql {connection_uri}

In [9]:
#fetch data through open connection with a SELECT statement, which we put into a dataframe (variable df)

df = %sql SELECT * FROM dbo.iris_data
df

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+SERVER%7D%3BSERVER%3DDESKTOP-UVMOR2N%3BDATABASE%3Diris%3BUID%3Dtestuser%3BPWD%3Dpassword
Done.

   id  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  SpeciesId
0   1           1.0          2.0           3.0          4.0       5          6
1   2           6.0          5.0           4.0          3.0       2          1

In [10]:
#you could work further with Dataframe df using pandas commands

import pandas as pd

df.describe()

,id,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,SpeciesId
count,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000
mean,1.500000,3.500000,3.50000,3.500000,3.500000,3.500000
std,0.707107,3.535534,2.12132,0.707107,0.707107,3.535534
min,1.000000,1.000000,2.00000,3.000000,3.000000,1.000000
25%,1.250000,2.250000,2.75000,3.250000,3.250000,2.250000
50%,1.500000,3.500000,3.50000,3.500000,3.500000,3.500000
75%,1.750000,4.750000,4.25000,3.750000,3.750000,4.750000
max,2.000000,6.000000,5.00000,4.000000,4.000000,6.000000

In [11]:
#be kind: please close your still open database connection after you are done with your analysis
#therefore, we fetch the connection name String

conn = %sql l / --connections

print(conn)

{'mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+SERVER%7D%3BSERVER%3DDESKTOP-UVMOR2N%3BDATABASE%3Diris%3BUID%3Dtestuser%3BPWD%3Dpassword': <sql.connection.Connection object at 0x0000017C85E67B50>}

In [12]:
#..and close the connection

#%sql -x / --close "connection name"
%sql -x / --close {'mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+SERVER%7D%3BSERVER%3DDESKTOP-UVMOR2N%3BDATABASE%3Diris%3BUID%3Dtestuser%3BPWD%3Dpassword'}

In [13]:
conn = %sql l / --connections

print(conn)

{}